@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;

  font-weight: 400;
}

/*

a {
  text-decoration: none;
  color: black;
}

:root {
  --btn-color: rgb(234, 214, 205);
}

.navigation {
  display: inline-flex;
  width: 100%;
  height: 70px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.155);
  align-items: center;
  padding: 20px;
}

.website-name {
  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 30px;
  flex-grow: 1;
}

.nav-img {
  margin-right: 20px;
  max-height: 30px;
  align-self: center;
}

.nav-img:last-child {
  margin-right: min(10vw, 50px);
}

.btn {
  border-radius: 8px;
  border-width: 1px;
  border-color: var(--btn-color);
  background-color: var(--btn-color);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-bg {
  width: 100px;
  font-size: 1.5rem;
  max-height: 50px;
}

section {
  height: 80vh;
}

.fit-in {
  background-image: url(./assets/geometry-g4a6325a92_1920.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.overlay {
  position: absolute;
  height: min(100%, 80vh);
  width: 100%;
  backdrop-filter: blur(4px);
}

.heading {
  font-size: 3.5rem;
  color: white;
}

.introduction {
  display: flex;
  justify-content: center;
  transform: translateY(8vh);
}

.content {
  margin-top: 20px;
  padding: 0 20vw;
  font-size: 1.3rem;
  color: white;
}

.btn-content {
  width: 100%;
  display: flex;
  justify-content: center;
} */

.navigation {
  position: fixed;
  left: 50%;
  top: 10px;
  z-index: 9999;
}

.navigation-symbol {
  display: grid;
  grid-template-rows: 7px 7px 7px;
  gap: 3px;
}

.menu-bar {
  width: 30px;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(1.5px);
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: end;
  background-image: url("/assets/geometry-g4a6325a92_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: lighten;
  height: 105vh;
}

.intro-div {
  margin-bottom: 200px;
  backdrop-filter: blur(1px);
  width: 60%;
  display: flex;
}

.intro-icons {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  flex-grow: 1;
  gap: 3px;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.text {
  color: white;
  font-family: "Alkatra", cursive;
}

.text2 {
  color: black;
  font-family: "Alkatra", cursive;
}

.intro-text {
  font-size: 2rem;
  text-decoration: underline;
}

.header-title {
  font-weight: 700;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
}

.section-title {
  background-color: #23323b;

  text-transform: uppercase;
}

.about-content {
  display: flex;
  justify-content: center;
  margin: 150px 20vw 300px 20vw;
  gap: 20px;
}

.content-header {
  font-family: "Alkatra", cursive;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  width: 80%;
}

.content {
  font-family: "Alkatra", cursive;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

.features {
  background-image: url("assets/student-space_illustrations_studying.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: lighten;
  height: 105vh;
}

.feature-title {
  backdrop-filter: blur(1px);
}

.features-grid {
  margin: 50px 15%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  backdrop-filter: blur(1px);
  gap: 10%;
}

.feature-grid-element {
}

.feature-header {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  outline-style: double;
  outline-color: rgb(63, 62, 62);
  margin-bottom: 10px;
}

.feature-image {
}

.feature-content {
  text-align: center;
}
